* {
  font-family: Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, h4, div, ul, p, pre {
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

body.black {
  background-color: black;
  color: lime;
}

body.black .description,
body.black #footer p,
body.black .note,
body.black .definition,
body.black .value {
  color: white;
}

body.black #controlWrapper,
body.black #right-column table,
body.black #right-column div,
body.black .note {
  background-color: #444444;
}

body.black * {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  margin: 20px 0 10px;
  padding-left: 15px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  margin: 15px 0 10px;
}

pre {
  font-family: monospace;
  white-space: pre;
}

p, pre {
  padding-bottom: 10px;
}

li {
  list-style-position: inside;
}

/* Structure */

#header {
  border: 1px dotted lightGray;
  margin: 0 auto 30px auto;
  padding-bottom: 10px;
  width: 960px;
}

.description {
  color: #777777;
  font-size: 16px;
  margin-left: 15px;
}

table {
  width: 100%;
}

thead {
  font-style: italic;
}

#main {
  margin: 0 auto;
  width: 960px;
}

#left-column {
  float: left;
  padding-right: 20px;
  width: 620px; /* 960 - 320 - 20 = body width - right column width - padding */
}

#right-column {
  float: right;
  width: 320px;
}

#controlWrapper {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  display: none;
  margin-top: 20px;
  padding: 15px;
  width: 588px;
}

#continue {
  margin-top: 20px;
  padding: 15px;
  width: 603px;
}

#continue input {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px 0;
  color: black;
  float: right;
  font-size: 20px;
  padding: 5px 20px;
}

#controls > * {
  float: left;
  margin-right: 15px;
}

label select,
label input {
  display: block;
}

label {
  font-size: 18px;
  font-weight: bold;
}

#footer {
  border: 1px dotted lightGray;
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
}

#footer p {
  color: #777777;
  font-size: 16px;
}

/* Specific styles */

#right-column table,
#right-column div {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  padding: 10px;
  margin-bottom: 20px;
}

.note {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  color: #777777;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding: 15px;
}

.info {
  margin-top: 20px;
}

.term,
.stock {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.definition,
.value {
  color: #777777;
  font-size: 16px;
  line-height: 16px;
}

#terms p {
  padding: 2.5px 0;
}

.cash {
  color: green;
}

.value:before {
  content: "$";
}

#actions {
  display: inline;
  margin-top: 1em;
}

.error {
  border: 1px solid red;
}

#messages {
  clear: both;
  color: green;
  font-size: 14px;
  height: 20px;
  margin-top: 1em;
  padding: 5px 0;
}
